<h1><%= tea.type %></h1>
<ul>
    <li>Source: <%= tea.source %></li>
    <li>Varities: <%= tea.varities%></li>
    <li>Advantages: <%= tea.advantages%></li>
    <li>Color: <%= tea.color%></li>
    <li>Origin: <%= tea.origin%></li>
    <% if(tea.user){ %>
      name : <%= tea.user.email %> 
  <% }%>
</ul>


<h3>Comment on this type</h3>

<form action="/teas/<%=tea.id%>/comment" method="POST">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>

  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea type="text" class="form-control" id="content" name="comment" required></textarea>
  </div>

  <input type="submit" class="btn btn-primary">
</form>


<%tea.comments.forEach(c =>{ %>
  <p>
      <%=c.name%> : <%=c.comment%>
  </p>

<% }) %>

<style>

  h1 {
    font-size: 30px;
    font-family:verdana;
    color: rgb(21, 160, 21);
    padding: 10px;
    display: inline-block;
    text-align: justify;
  }

  h3 {
    font-family:verdana;
    font-size: 15px;
    color: rgb(21, 160, 21);
    padding: 10px;
    text-align: justify;
    font-style: italic;
  }

.form-group {
  font-family:verdana;
    font-size: 15px;
    color: black;
    /* padding: 10px; */
    display: inline-block;
    font-style: italic;
  }

  ul {
    font-size: 20px;
    color: solid black;
    padding: 10px;
    display: inline-block;
    
  }

  .btn {
    font-family:verdana;
  background-color: #c6c6c6ac;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 150px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.btn:hover {
    background-color: #459a1b;
}

</style>



