<h1><%= tea.type %></h1>
<ul>
    <li>Source: <%= tea.source %></li>
    <li>Varities: <%= tea.varities%></li>
    <li>Advantages: <%= tea.advantages%></li>
    <li>Color: <%= tea.color%></li>
    <li>Origin: <%= tea.origin%></li>
</ul>